.intro {
  max-width: 830px;
  display: flex;
  flex-direction: column;
  margin: 92px 0 92px 148px;
}

.intro__title {
  width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.074;
  margin-bottom: 40px;
}

.intro__subtitle {
  max-width: 738px;
  font-size: 24px;
  line-height: 1.42;
  margin-bottom: 10px;
}

.intro__span {
  max-width: 732px;
  font-size: 24px;
  margin-bottom: 32px;
  line-height: 1.42;
  text-align: end;
}

.intro__text {
  font-family: "Inter", sans-serif;
  max-width: 722px;
  font-size: 16px;
  line-height: 26px;
}
