.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 984px;
  margin: 92px auto;
}

.intro__title {
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.074;
  margin-bottom: 40px;
}

.intro__subtitle {
  max-width: 738px;
  font-size: 24px;
  line-height: 1.42;
  margin-bottom: 10px;
}

.intro__span {
  max-width: 732px;
  font-size: 24px;
  margin-bottom: 32px;
  line-height: 1.42;
  text-align: end;
}

.intro__text {
  font-family: "Inter", sans-serif;
  max-width: 722px;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0px;
    padding: 90px 24px 88px;
    width: 100%;
  }

  .intro__title {
    font-size: 45px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    padding: 64px 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
