.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  margin-bottom: 32px;
}

.lead__subtitle {
  max-width: 720px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 64px;
}

.lead__image {
  max-width: 984px;
}
