* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  background: #2a2c2f;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
